{{!-- creo mi front dentro de mi layout --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Desafio 4</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{style}}">
   

</head>
<body class="main">
    <nav class="nav">
        <a class="nav__link" href="/">Home</a>
        <a class="nav__link" href="/message">Chat</a>
        <a class="nav__link" href="/realTimeProducts">Real Time</a>
        <a class="nav__link" href="/products">Paginacion</a>
        <a class="nav__link" href="/profile" >Perfil</a>
        <a class="nav__link" href="/register">Registro</a>
    </nav>
    {{{body}}}
</body>
</html>